.userDashboard{
  display: inline-block;
border-right: solid black 2px;
height: 100vh;
padding: 0 6%;
margin-top: 20px;
}

h2{
  font-family: $main-font;
}


.userDashboard{
  float:left;
  width: 20%;
}

.messageCenter{
  background-image: url("assets/photos/foodwallpaper.jpg");
  background-repeat: no-repeat;
  display:inline-block;
  height:100vh;
  width: 78%;
}

.dashboard{
  img{
width: 100%;
outline: none;
border-radius: 59%;
margin-bottom: 24px;
  }
}
