.userDashboard{
  display: inline-block;
border-right: solid black 2px;
height: 100vh;
padding: 0 6%;
margin-top: 20px;
}

h2{
  font-family: $main-font;
}


.userDashboard{
display: inline-block;
}

.messageCenter{
  display:inline-block;
}
