.modalContainer{
position: fixed;
top: 0;
bottom: 0;
left:0;
right:0;
background-color: rgba($main-color,.6);
}
.messageModal{
  position: absolute;
      background: $background-color;
      padding: 6vh 0px;
      font-family: "Abel", sans-serif;
      border: $main-color solid 2px;
      top: 5vh;
      bottom: 5vh;
      width: 60%;
      left: 20%;
h1{
  font-size: 2rem;
  margin:0;
  padding-top:0;
}
  h4{
    display: inline-block;
    margin-top:0;
}
h3, form{
  font-size: 1.3rem;
}
#date{
  margin-top: 0;
  height: 25px;
font-size: 1.2rem;
text-align: center;
}
  }

.textarea{
  width: 80%;
margin-top: 10px;
height:45px;
border: 2px solid $main-color;
}

.messageButton{
  border: none;
background: #EBEBEB;
font-size: 1.2rem;
color:$highlight-color;
float:right;
&:hover{
  border:none;
  transform: scale(1.1);
  }
}

.backButton, .sendButton{
  font-family: $main-font;
border: none;
background-color: $background-color;
font-size: 2rem;
margin: 0 2px;
&:hover{
  transform: scale(1.1);
  }
}

#line{
  font-size: 2rem;
}
