.messageModal{
  position: fixed;
  background: white;
  padding: 6vh 0px;
  font-family: "Abel", sans-serif;
  border: black solid 2px;
  top: 5vh;
  bottom: 5vh;
  width: 60%;
  margin-left: -10%;
h1{
  font-size: 2rem;
  margin-top: -25px;
}
  h4{
    display: inline-block;
    margin-top:0;
}
h3, form{
  font-size: 1.3rem;
}
#date{
  margin-top: 0;
  height: 25px;
font-size: 1.2rem;
text-align: center;
}
  }

.textarea{
  width: 80%;
margin-top: 10px;
height:45px;
border: 2px solid black;
}

.messageButton{
  border: none;
background: #EBEBEB;
font-size: 1.2rem;
color:$orange;
float:right;
&:hover{
  border:none;
  transform: scale(1.1);
  }
}

.backButton, .sendButton{
  font-family: $main-font;
border: none;
background-color: white;
font-size: 2rem;
margin: 0 2px;
&:hover{
  transform: scale(1.1);
  }
}

#line{
  font-size: 2rem;
}
