// Full screen stylings
video{
  width: 100%;
      overflow: hidden;
      margin-top: -161px;
  }

header {
  position: absolute;;
  width: 100%;
    bottom: 24vh;

h1{
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 5.5rem;
  color: white;
  font-family: $header-font;

  }
h2{
  text-align: center;
  width: 100%;
  color:white;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-top: 0;
  }
h3{
  text-align: center;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  font-family: $main-font;
  text-transform: uppercase;
}
}

.searchbox {
  width: 58%;
  margin-left: 21%;
  font-family: $main-font;
}
// how it works stylings

.howItWorks{
  width: 100%;
color:$gray;

}
.howItWorks h1{
color:$orange;
font-size: 4rem;
text-align: center;
font-family: $header-font;
border-top: 2px dotted $gray;
padding-top: 5vh;

}

.howBox{
display: inline-block;
width: 30%;
height: 33vh;
padding-bottom: 5vh;
text-transform: uppercase;
p{
  margin-left: 5%;
  display: block;
  font-family: $main-font;
  margin-top: 30px;
}
}
#icon{
  font-size: 8rem;
  height: 21vh;
  margin-left: 35%;
  color:$orange;

}
#right{
  font-size: 2rem;
  position: relative;
  bottom: 100px;
}

.examples{

h1{
  color:$orange;
  font-size: 4rem;
  text-align: center;
  font-family: $header-font;
  border-top: 2px dotted $gray;
  padding-top: 5vh;
  }
}
.exampleRestaurant{
  display: inline-block;
  width: 25%;
    font-family: $main-font;
    color:$gray;
    text-transform: uppercase;

img{
  width: 95%;
  overflow: hidden;
  height: 210px;
}
.restaurantNameExample{
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
}
.cuisineTypeExample{
  text-align: center;
  margin-top: 0;
}
}

.loginNote{
  width: 20%;
background: #EC7244;
opacity: .7;
margin-left: 40%;
font-size: 2rem;
bottom: 44vh;
}



@media screen and (max-width: 768px) {
header{
  bottom: 43vh;
}
.exampleRestaurant{
    width: 50%;

  }

}
@media screen and (max-width: 450px) {
  video{
    display:none;
  }
  nav{
    display: none;
  }
  header{
    background-image: url("assets/photos/panEdited.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    height: 446px;
    margin-top: -7px;
    h1{
      width: 100%;
      text-align: center;
      font-size: 3.4rem;
      color: white;
      font-family: "Great Vibes", cursive;
      padding-top: 77px;

      }
    h2{
      text-align: center;
      width: 100%;
      color:white;
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 1.9rem;
      margin-top: 0;
      }
    h3{
      text-align: center;
      color: white;
      font-size: 1.2rem;
      width: 100%;
      font-family: $main-font;
      text-transform: uppercase;
    }

  }
.howItWorks h1{
border-top: 0;
color: #EC7244;
    font-size: 4rem;
    text-align: center;
    font-family: "Great Vibes", cursive;
    padding-top: 5vh;
    margin-top: 0;
}

  .howBox{
  width: 100%;
  height: 33vh;
  padding-bottom: 5vh;
  text-transform: uppercase;

  p{
    display: block;
    font-family: $main-font;
    text-align: center;
  }
  }
  #icon{
    font-size: 6rem;
    height: 21vh;
    margin-top: 30px;
    display: block;

  }
  #right{
  display: none;
  }

.exampleRestaurant{
    width: 100%;
  }

}

.examples h1{
  border-top: 0;
}
