.loginWhole{
  position: fixed;
      bottom: 36vh;
      width: 60%;
      text-align: center;
      background: white;
      margin-left: 20%;
      padding: 6vh 0px;
      opacity: 0.9;
      font-family: $main-font;
}
