  // nav img{
  //       width: 4%;
  // }

nav{
  padding-top: 11px;


  img{
  width: 4%;
  }
}
#aboutButton,  #searchButton, #dashboardButton, #loginButton, #logoutButton {
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 5%;
    color: white;
    float: right;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    color: black;
    background: white;
    opacity: 0.8;
&:hover{
  color:$orange;
  border:none;
  transform: scale(1.1);
  }
&:focus {
  outline:0;
  }
}

#aboutButton, #logoutButton{
  margin-right:3%;
  color: black;
background: white;
opacity: 0.8;
}

header h3{
  position: relative;
margin-top: -116vh;
text-align: center;
color: white;
font-size: 1.4rem;
}
