.searchResults{
  h1{
    font-size: 4rem;
    font-family: $header-font;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
  }
}

.messageButton{
      background: #EBEBEB;
}
.results li{
  margin-left: 26%;
  width: 40%;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    font-family: $main-font;
    margin-bottom: 50px;
    // background: #EBEBEB;
    // padding: 4%;
  img{
    width: 100%;
  }
.rating{
  font-size: 1.3rem;
}
a{
  text-decoration: none;
color: #EC7244;
}
}



@media screen and (max-width: 450px) {

.results li{
   list-style: none;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Abel", sans-serif;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
}
  .messageButton{
    font-size: 1.8rem;
  }
}
