.sent{
  height:100vh;
  text-align: center;
    background: $background-color;
    font-family: $main-font;
    h1{
      padding-top: 50px;
    margin-top: 0;
    }
    p{
          font-size: 1.4rem;
          margin: 0;
    }
    a{
      text-decoration: none;
      color:#EC7244;
    a:hover{
        transform: scale(1.1);
        }
    }
    }
