



// Google Fonts
@import 'https://fonts.googleapis.com/css?family=Abel|Great+Vibes';

// Colors
$orange: #EC7244;
$gray: #2E2C2A;

// Fonts
$header-font: 'Great Vibes', cursive;
$main-font: 'Abel', sans-serif;
