



// Google Fonts
@import 'https://fonts.googleapis.com/css?family=Abel|Great+Vibes';

// Colors
$highlight-color: #EC7244;
$main-color: #373737;
$background-color:#F9F9F7;

// Fonts
$header-font: 'Great Vibes', cursive;
$main-font: 'Abel', sans-serif;
